<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Login Page</title>
</head>
<body>
<div class="main-content">
    <h3>Register</h3>
    <form th:action="@{/register}" th:object="${user}" method="POST">
        <input type="text" th:field="*{username}" name="username" placeholder="Username"/>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" /><br />
        <input type="email" th:field="*{email}" name="shipAddress" placeholder="Email" />
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" /><br />
        <input type="password" th:field="*{password}" name="shipAddress" placeholder="Nhập mật khẩu" />
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" /><br />
        <input type="password" th:field="*{confirmPassword}" name="shipAddress" placeholder="Nhập lại mật khẩu" />
        <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" /><br />
        <button type="submit">Register</button> <br />
    </form>
</div>
</body>
</html>